{% load static %}
<html>
  <head>
    <title>Proves Django</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="{%static 'css/blog.css' %}"/>
  </head>
  <body>
    <div>
      <h1><a href="/">Proves blog django</a></h1>
    </div>{% for post in posts %}
    <div>
      <p>
        <publicado>{{ post.published_date }}</publicado>
      </p>
      <h1><a href="">{{post.title}}</a></h1>
      <p>{{post.text|linebreaksbr}}</p>
    </div>{% endfor %}
  </body>
</html>