html
	head
		title Proves
	body
		div
			h1
				a(href='/') Proves blog django
		{% for post in posts %}
		div
			p
				publicado: {{ post.published_date }}
			h1
				a(href=""){{post.title}}
			p
				{{post.text|linebreaksbr}}
		{% endfor %}