html
	head
		title Proves
	body
		div
			h1
				a(href='/') Django Girls Blog
		div
			p published: 11.02.2019
			h2
				a(href='') My first post
			p
				|text random llarg en que s'explica la vida com passa i passa arreu de tot i si segueixo aixi no se que passa
		div
			p publicat: 11.02.2019
			h2
				a(href='') My second post
			p
				| tracatri tracatru, aqui lo escribu iu.