{% load static %}
html
	head
		title Proves Django
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="{%static 'css/blog.css' %}")
	body
		div
			h1
				a(href='/') Proves blog django

		{% for post in posts %}
		div
			p
				publicado: {{ post.published_date }}
			h1
				a(href=""){{post.title}}
			p
				{{post.text|linebreaksbr}}
		{% endfor %}
